.body{
   font-family: prompt;
    position: relative;
    height: 78dvh;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    transition: var(--trans-05);
}
.body::-webkit-scrollbar{
    width: 0;
}

.main-play-top-image{
    height: 200px;
    width: 200px;
}
.top-main-container-block{
    background-color: rgb(13, 30, 47);
}
.main-top-block{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 2rem;
 }
 .main-song-items{
    background-image:linear-gradient(to bottom,rgb(10, 24, 37),rgb(37, 37, 37) 90%);
    padding-top: 40px;
  }
  .sub-song-container{
    display: grid;
    width: 90%;
    grid-template-columns: 0.7fr 3fr 2fr 1fr;
    margin: 0 auto;
    padding: 10px;
  }
  .grid-para,.clock-image{
    color: white;
  }
  .grid-para{
    margin: 0;
  }
  .hrtag-main{
    display: block;
    height: 0.5px;
    right: 0;
    margin: 0 auto;
    margin-top: 5px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.615);
  }
  .songs-container{
    flex-flow: column;
    margin-top: 30px;
  }
  .final-space{
    padding: 40px 0 80px 0;
  }
  @media (max-width : 998px){
    .main-play-top-image{
      transition: .4s ease-in-out;
      height: 150px;
      width: 150px;
    }
  }
  @media (max-width : 760px){

    .sub-song-container{
        transition: var(--trans-04);
        grid-template-columns: 0.7fr 3fr 1fr;
    }
    .display-none{
        transition: var(--trans-04);
        display: none;
    }
    .main-play-top-image{
      transition: .4s ease-in-out;
      height: 125px;
      width: 125px;
    }
}

