.login{
  height: 47px;
  width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color:#ffffff ;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: prompt;
    transition: transform .05s;
  }
  .signup{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.568);
    font-size: 16px;
    font-family: prompt;
    transition: transform .1s;
  }
  .signup:hover{
    color: #ffffff;
    transform: scale(1.03);
  }
  .login:hover{
    transform: scale(1.05);
    color: black;
    background-color: #fffcfcfc;
  }
.heading{
    position: relative;
    background-color: rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:10dvh;
    width: 100%;
    transition: var(--trans-05);
}

.menu-button{
  background-color: transparent;
  border: none;
}
.top-menu-icon{
  color: white;
  height: 20px;
  width: 20px;
}
.menu-block{
  min-width: 60px;
}

.signup-login-buttons{
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-evenly;
}



